<template>
  <form class="col-md-10 offset-md-1" @submit.prevent="login">
    <h3>Connexion</h3>
    <div class="form-group mt-4">
      <label for="email">Email</label>
      <input
        v-model="email"
        type="email"
        id="email"
        class="form-control"
        placeholder="Entrez votre email"
      >
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        v-model="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Entrez votre mot de passe"
      >
    </div>
    <p class="text-danger" v-for="(error, index) in errors" :key="index">{{ error }}</p>
    <button type="submit" class="btn btn-primary mt-2">Me connecter</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      errors: []
    }
  },
  methods: {
    login() {
      this.errors = []
      const email = this.email
      const password = this.password
      this.$store
        .dispatch('login', { email, password })
        .then(() => this.$router.push('/'))
        .catch(err => {
          this.errors.push(err.response.data.message)
        })
    }
  }
}
</script>

<style>
</style>
