<template>
  <div class="event-popup" @click="$store.dispatch('toggleAddCalendar')">
    <div class="popup-form" @click.stop>
      <form>
        <button
          type="button"
          class="close"
          aria-label="Close"
          @click="$store.dispatch('toggleAddCalendar')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Créer un calendrier</h3>
        <div class="form-group mt-3">
          <label for="title">Titre du calendrier</label>
          <input
            required
            v-model="title"
            id="title"
            type="text"
            class="form-control"
            placeholder="Titre"
          >
          <small v-if="titleError" style="color: #f88">Le titre ne peut être vide</small>
        </div>
        <div class="form-group">
          <label for="desc">Couleur du calendrier</label>
          <div class="colors">
            <button
              v-for="i in 10"
              :key="i"
              :class="{active: selectedColor === i}"
              class="color"
              @click.prevent="selectedColor = i"
              :style="`background-color: ${colors[i]};`"
            />
          </div>
        </div>
        <button @click.prevent="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: '',
      titleError: false,
      selectedColor: 1,
      colors: [
        '#c1ddef',
        '#c1ddef',
        '#d3c1ef',
        '#f8baae',
        '#ddefc1',
        '#bada55',
        '#7a7780',
        '#504269',
        '#f68787',
        '#f8a978',
        '#f1eb9a',
        '#a4f6a5',
        '#ffc1c8',
        '#e8d3ff'
      ]
    }
  },
  methods: {
    submit() {
      this.titleError = false
      if (this.title === '') {
        this.titleError = true
        return
      }
      const newCalendar = {
        title: this.title,
        color: this.colors[this.selectedColor]
      }
      this.$store.dispatch('toggleAddCalendar')
      this.$store.dispatch('createCalendar', newCalendar)
    }
  }
}
</script>

<style scoped>
.event-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 15;
}

.popup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 1px;
  padding: 30px 50px;
}

.popup-form h3 {
  font-size: 18px;
}

.popup-form input {
  width: 300px;
}

@media (max-width: 400px) {
  .popup-form {
    width: 100%;
  }

  .popup-form input {
    width: 100%;
  }
}

@media (max-height: 750px) {
  .popup-form {
    top: 360px;
  }
}

.colors {
  display: flex;
  justify-content: space-between;
}

.color {
  border: none;
  box-shadow: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.color.active,
.color:hover {
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none !important;
}
</style>
