<template>
  <div class="app">
    <home-header/>
    <slot/>
  </div>
</template>

<script>
import HomeHeader from '@/components/shared/HomeHeader'
export default {
  components: {
    HomeHeader
  }
}
</script>

<style scoped>
.app {
  padding-top: 150px;
}
</style>
