<template>
  <Loader v-if="loadUserWaiting"/>
  <div v-else class="main-view" :class="{extended: sidebarVisible}">
    <transition name="fade" mode="out-in">
      <component :is="currentView" v-if="calendarsCount"/>
    </transition>
    <div class="text-center" style="padding-top:20vh;" v-if="!calendarsCount">
      <h3>Oups</h3>
      <p>Vous n'avez aucun calendrier pour le moment !</p>
      <button
        class="btn btn-outline-primary mt-5"
        @click="$store.dispatch('toggleAddCalendar')"
      >Créer un calendrier</button>
    </div>
  </div>
</template>

<script>
import Monthly from '@/components/mainView/Monthly'
import Yearly from '@/components/mainView/Yearly'
import Weekly from '@/components/mainView/Weekly'
import Loader from '@/components/shared/Loader'
export default {
  computed: {
    loadUserWaiting() {
      return this.$store.getters.loadUserWaiting
    },
    currentView() {
      return this.$store.getters.currentView
    },
    sidebarVisible() {
      return this.$store.getters.sidebarVisible
    },
    calendarsCount() {
      return this.$store.getters.calendarsCount
    }
  },
  components: {
    Monthly,
    Yearly,
    Weekly,
    Loader
  }
}
</script>

<style lang="scss">
.main-view {
  position: relative;
  height: 100vh;
  padding: 0;
  padding-top: 75px;
  transition: padding-left 0.3s;

  button:focus {
    outline: none !important;
  }
}

.main-view.extended {
  padding-left: 260px;
}

.test {
  width: 500px;
  height: 500px;
  background: #d3c1ef;
}
</style>
