<template>
  <div
    class="home"
    :style="{
    background: 'url(img/home.png) no-repeat scroll center center',
    'background-size': 'cover'
    }"
  >
    <div class="left">
      <h1>
        <span>カレンダー</span> Votre calendrier, partout avec vous !
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur hic commodi recusandae amet quas, harum ab earum iure dolores ex consequatur praesentium, eum asperiores eius a maiores? Doloribus, voluptatem a?</p>
      <router-link class="btn btn-secondary" to="/signup">Lancez vous</router-link>
    </div>
    <div class="right">
      <img src="@/assets/img/mobile.png" alt="mobile">
    </div>
  </div>
</template>

<script>
</script>

<style scoped lang="scss">
.home {
  min-height: 100vh;
  margin-top: -150px;
  padding-top: 200px;
  color: #fff;

  h1 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 23px;

    span {
      font-size: 40px;
    }
  }

  .left,
  .right {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .left {
    text-align-last: left;
    padding-left: 100px;
    padding-right: 50px;
  }

  .right {
    text-align: center;
  }

  .btn {
    margin-top: 23px;
    color: #444;
    cursor: pointer;

    &:hover {
      color: #555;
    }
  }

  @media (max-width: 800px) {
    .left,
    .right {
      margin-top: 40px;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      vertical-align: middle;
    }

    .left {
      padding: 0 30px;
    }
  }
}
</style>
