<template>
  <div class="form-group datepicker-container">
    <label for="datepicker">{{ title }}</label>
    <span
      id="datepicker"
      type="text"
      class="form-control pointer"
      :placeholder="title"
      @click="showDatepicker()"
    >{{ formatDate }}</span>
    <div class="datepicker-popup" @click.stop v-if="selectDate">
      <button type="button" class="close" aria-label="Close" @click="hideDatepicker">
        <span aria-hidden="true">&times;</span>
      </button>
      <header>
        <h2>{{ date.getMonthName() }} {{ date.getDate().getFullYear() }}</h2>
        <div class="controls">
          <button @click.prevent="date.previousMonth()">
            <i class="fas fa-chevron-left"/>
          </button>
          <button @click.prevent="date.nextMonth()">
            <i class="fas fa-chevron-right"/>
          </button>
        </div>
      </header>
      <div class="calendar">
        <div class="d-name">
          <div>l</div>
          <div>m</div>
          <div>m</div>
          <div>j</div>
          <div>v</div>
          <div>s</div>
          <div>d</div>
        </div>
        <div class="days">
          <div
            v-for="(day, index) in monthDays"
            :class="classDay(day, date)"
            @click="selectDay(day)"
            :key="index"
          >{{ day.getDate() }}</div>
        </div>
        <div class="form-group">
          <select @change="selectH" v-model="hour" class="custom-select">
            <option v-for="i in 24" :key="i" :value="(i - 1)">{{ (i - 1) }} H</option>
          </select>
          <select @change="selectMin" v-model="minutes" class="custom-select">
            <option v-for="i in 13" :key="i" :value="(i - 1) * 5">{{ (i - 1) * 5 }} min</option>
          </select>
        </div>
        <div class="validation">
          <div @click.prevent="validate()" class="btn btn-primary">Valider</div>
          <div @click.prevent="cancel()" class="btn btn-secondary">Annuler</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyDate from '@/assets/js/myDate'
export default {
  props: {
    title: {
      type: String,
      default: 'Début'
    },
    defaultDate: {
      type: Date,
      default: null
    },
    minDate: {
      type: Number,
      default: Date.now()
    }
  },
  data() {
    return {
      selectDate: false,
      date: null,
      dateBackup: null,
      hour: 0,
      minutes: 0
    }
  },
  computed: {
    formatDate() {
      return this.date.getDate().toLocaleString('fr-fr', {
        day: '2-digit',
        month: 'long',
        year: 'numeric',
        hour: 'numeric',
        minute: '2-digit'
      })
    },
    monthDays() {
      return this.date.getMonthDays()
    }
  },
  methods: {
    classDay(date, myDate) {
      const verifDate = new Date(date)
      verifDate.setHours(23, 59)
      let classes = []
      if (!myDate.contains(date)) {
        classes.push('dayOut')
      }
      if (verifDate.valueOf() < this.minDate) {
        classes.push('dayOut')
      }
      if (
        date.getDate() === this.date.getDate().getDate() &&
        date.getMonth() === this.date.getDate().getMonth()
      ) {
        classes.push('currentDay')
      }
      return classes
    },
    showDatepicker() {
      this.selectDate = true
      this.dateBackup = new Date(this.date.getDate())
    },
    hideDatepicker() {
      this.selectDate = false
    },
    selectDay(date) {
      const verifDate = new Date(date)
      verifDate.setHours(23, 59)
      if (verifDate.valueOf() > this.minDate) {
        this.date.setDate(date)
      }
    },
    selectH() {
      this.date.setHours(this.hour)
      this.date = new MyDate(this.date.getDate())
    },
    selectMin() {
      this.date.setMinutes(this.minutes)
      this.date = new MyDate(this.date.getDate())
    },
    validate() {
      this.$emit('submit', this.date.getDate())
      this.hideDatepicker()
    },
    cancel() {
      this.date.setDate(this.dateBackup)
      this.hideDatepicker()
    }
  },
  created() {
    const defaultDate = this.defaultDate || new Date()
    this.date = new MyDate(defaultDate)
  }
}
</script>

<style scoped>
.datepicker-container {
  position: relative;
}

.datepicker-popup {
  z-index: 3;
  position: absolute;
  bottom: -85%;
  background: #fafafa;
  padding: 15px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header {
  line-height: 30px;
}

header h2 {
  display: inline-block;
  font-size: 14px;
}

header .controls {
  float: right;
  margin-right: 10px;
}

header .controls button {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

header .controls button:hover {
  background: #dadada;
}

.d-name,
.days {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  align-content: center;
}

.d-name {
  line-height: 30px;
  color: #444;
}

.d-name div {
  text-transform: uppercase;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.days div {
  line-height: 30px;
  color: #999;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.days div:hover {
  background: #dadada;
}

.days div.currentDay {
  background: #000;
  color: #fff;
}

.days div.dayOut {
  opacity: 0.3;
}

.hour-selector select {
  border-radius: 0;
  border: none;
}

select {
  width: auto;
  padding-left: 5px;
  margin-right: 5px;
}

.pointer {
  cursor: pointer;
}
</style>
