<template>
  <div class="selection">
    <h3>Mes calendriers</h3>
    <div
      v-for="(calendar, index) in calendars"
      class="calendar"
      :class="{ selected: calendar.id === currentCalendar }"
      :key="index"
      @click="changeCalendar(calendar.id)"
    >
      {{ calendar.title }}
      <span @click.stop="toggleOption(calendar.id)" class="calendar-options">
        <i class="fas fa-plus-circle"/>
      </span>
      <div class="pop" :style="{ backgroundColor: calendar.color }"/>
    </div>
    <button
      class="btn btn-outline-primary mt-5"
      @click="$store.dispatch('toggleAddCalendar')"
    >Créer un calendrier</button>
  </div>
</template>

<script>
export default {
  computed: {
    calendars() {
      return this.$store.getters.allCalendars
    },
    currentCalendar() {
      return this.$store.getters.currentCalendar
    }
  },
  methods: {
    changeCalendar(id) {
      this.$store.dispatch('changeCurrentCalendar', id)
    },
    toggleOption(id) {
      console.log(id)
    }
  }
}
</script>

<style scoped>
.selection {
  margin-top: 50px;
}

.selection h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.selection .calendar {
  padding: 10px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.selection .calendar:hover {
  background: #eaeaea;
}

.selection .calendar .pop {
  content: '';
  background: #bada55;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 5px);
  left: 12px;
}

.selected {
  background: #000 !important;
  color: #fff;
}

.calendar .calendar-options {
  float: right;
  opacity: 0;
  transition: opacity 0.3s;
}

.calendar:hover .calendar-options {
  opacity: 1;
}
</style>
