<template>
  <div>
    <header>
      <h2>{{ date.getMonthName() }} {{ date.getDate().getFullYear() }}</h2>
      <div class="controls">
        <button @click="date.previousMonth()">
          <i class="fas fa-chevron-left"/>
        </button>
        <button @click="date.nextMonth()">
          <i class="fas fa-chevron-right"/>
        </button>
      </div>
    </header>
    <div class="calendar">
      <div class="d-name">
        <div>l</div>
        <div>m</div>
        <div>m</div>
        <div>j</div>
        <div>v</div>
        <div>s</div>
        <div>d</div>
      </div>
      <div class="days">
        <div
          v-for="(day, index) in monthDays"
          :class="classDay(day, date)"
          @click="selectDay(day)"
          :key="index"
        >{{ day.getDate() }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    date() {
      return this.$store.getters.date
    },
    monthDays() {
      return this.$store.getters.monthDays
    }
  },
  methods: {
    classDay(date, myDate) {
      const verifDate = new Date(date)
      verifDate.setHours(23, 59)
      let classes = []
      if (!myDate.contains(date) || verifDate < Date.now()) {
        classes.push('dayOut')
      }
      if (
        date.getDate() === this.date.getDate().getDate() &&
        date.getMonth() === this.date.getDate().getMonth()
      ) {
        classes.push('currentDay')
      }
      return classes
    },
    selectDay(date) {
      this.$store.dispatch('setDate', date)
    }
  }
}
</script>

<style scoped>
header {
  line-height: 30px;
}

header h2 {
  display: inline-block;
  font-size: 14px;
}

header .controls {
  float: right;
}

header .controls button {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

header .controls button:hover {
  background: #dadada;
}

.d-name,
.days {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  align-content: center;
}

.d-name {
  line-height: 30px;
  color: #444;
}

.d-name div {
  text-transform: uppercase;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.days div {
  line-height: 30px;
  color: #999;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.days div:hover {
  background: #dadada;
}

.days div.currentDay {
  background: #000;
  color: #fff;
}

.days div.dayOut {
  opacity: 0.3;
}
</style>
