<template>
  <router-link
    :style="positionEvent(event, day, index)"
    class="event"
    :to="`event/${event.id}`"
  >{{ event.title }}</router-link>
</template>

<script>
export default {
  props: ['event', 'day', 'index', 'length'],
  computed: {
    calendarColor() {
      return this.$store.getters.calendarColor
    }
  },
  methods: {
    positionEvent(event, day, index) {
      let bottom = (24 - event.end - 1) * 50
      const top = (event.start + 1) * 50
      const left = (100 / this.length) * index
      const width = 100 / this.length
      if (bottom < 0) {
        bottom = 0
      }
      return `
        top: ${top}px;
        bottom: ${bottom}px;
        width: ${width}%;
        left: ${left}%;
        background: ${this.calendarColor}
      `
    }
  }
}
</script>

<style lang="scss">
.weekly .week .day {
  .event {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
  }
}
</style>
