<template>
  <div class="month">
    <div class="calendar">
      <h2>{{ month[10].toLocaleString("fr-fr", {month: "long"}) }}</h2>
      <div class="d-name">
        <div>l</div>
        <div>m</div>
        <div>m</div>
        <div>j</div>
        <div>v</div>
        <div>s</div>
        <div>d</div>
      </div>
      <div class="days">
        <yearly-day v-for="(day, index) in month" :day="day" :event="getEvent(day)" :key="index"/>
      </div>
    </div>
  </div>
</template>

<script>
import YearlyDay from '@/components/mainView/calendarsParts/YearlyDay'
export default {
  props: ['month'],
  computed: {
    events() {
      return this.$store.getters.allEvents
    }
  },
  methods: {
    getEvent(date) {
      const events = this.events.filter(event => {
        const start = new Date(event.start).setHours(0, 0, 0, 0)
        const end = new Date(event.end).setHours(23, 59, 59)
        return (
          start.valueOf() <= date.valueOf() && end.valueOf() >= date.valueOf()
        )
      })
      let title = events.length + ' évenement'
      if (events.length > 1) title += 's'
      return {
        count: events.length,
        title,
        events
      }
    }
  },
  components: {
    YearlyDay
  }
}
</script>

<style lang="scss">
.year {
  .calendar h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 1200px) {
    .year {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media (max-width: 750px) {
    .year {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width: 500px) {
    .year {
      grid-template-columns: 1fr;
    }
  }

  .d-name,
  .days {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-items: center;
    align-content: center;
  }

  .d-name {
    line-height: 30px;
    color: #444;
  }

  .d-name div {
    text-transform: uppercase;
    font-weight: bold;
    width: 30px;
    text-align: center;
  }

  .days div {
    line-height: 30px;
    color: #999;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }

  .days div:hover {
    background: #dadada;
  }

  .days div.currentDay {
    background: #000;
    color: #fff;
  }

  .days div.dayOut {
    opacity: 0.3;
  }
}
</style>
