<template>
  <div class="monthly">
    <div class="d-name">
      <div>lun</div>
      <div>mar</div>
      <div>mer</div>
      <div>jeu</div>
      <div>ven</div>
      <div>sam</div>
      <div>dim</div>
    </div>
    <div class="daysContainer">
      <monthly-day
        v-for="(day, index) in monthDays"
        :key="index"
        :day="day"
        :events="getEvent(day)"
      />
    </div>
  </div>
</template>

<script>
import MonthlyDay from '@/components/mainView/calendarsParts/MonthlyDay'
export default {
  computed: {
    events() {
      return this.$store.getters.allEvents
    },
    monthDays() {
      return this.$store.getters.monthDays
    }
  },
  methods: {
    getEvent(date) {
      return this.events.filter(event => {
        const start = new Date(event.start).setHours(0, 0, 0, 0)
        const end = new Date(event.end).setHours(23, 59, 59)
        return (
          start.valueOf() <= date.valueOf() && end.valueOf() >= date.valueOf()
        )
      })
    }
  },
  components: {
    MonthlyDay
  }
}
</script>

<style scoped  lang="scss">
.monthly {
  background: #fff;
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;

  .d-name {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
  }

  .daysContainer {
    height: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
  }
}
</style>
