<template>
  <div class="year">
    <yearly-month v-for="(month, index) in yearDays" :key="index" :month="month"/>
  </div>
</template>

<script>
import YearlyMonth from '@/components/mainView/calendarsParts/YearlyMonth'
export default {
  computed: {
    yearDays() {
      return this.$store.getters.yearDays
    }
  },
  components: {
    YearlyMonth
  }
}
</script>

<style scoped>
.year {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  grid-gap: 15px;
  justify-items: center;
  align-content: center;
}
</style>
