<template>
  <div>
    <input v-if="edited" @blur="update()" type="text" v-model="text">
    <component :is="tag" :class="classs" v-else @dblclick="edited = true">{{ content }}</component>
  </div>
</template>

<script>
export default {
  props: ['tag', 'content', 'classs'],
  data() {
    return {
      edited: false,
      text: this.content
    }
  },
  methods: {
    update() {
      this.edited = false
      if (this.text !== this.content) this.$emit('update', this.text)
    }
  }
}
</script>

<style>
</style>
